* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* common classes */
.wrapper {
    padding: 0 145px;
    min-width: 1150px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

h2 {
    font-weight: 700;
    font-size: 57px;
    line-height: 58px;
}

body {
    background-color: whitesmoke;
}
/* //common classes */


/* header */
.header_top {
    height: 100px;
}

.header_top__grid {
    column-gap: 141px;
}

.header_top__nav__menu {
    column-gap: 22px;
}

.nav_menu__item a {
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

.header_top__buttons {
    margin-left: 27px;
    column-gap: 18px;
}

.header_top__button__login, 
.header_top__button__expert,
.bottom_screen__form_button, 
.first_screen__button button {
    font-weight: bold;
    font-size: 18px;
    border: 1px solid black;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 100px; 
    transition: background-color 500ms, color 500ms;
}

.header_top__button__login,
.header_top__button__expert:hover,
.bottom_screen__form_button:hover, 
.first_screen__button button:hover {
    color: #000;
    background-color: #fff;
} 

.header_top__button__expert,
.bottom_screen__form_button,
.header_top__button__login:hover {
    color: #fff;
    background-color: #000;
}
/* //header */


/* first_screen */
.first_screen {
    position: relative;
    border-bottom: 1px solid #EAEEF2;
    margin-bottom: 210px;
}

.first_screen__grid {
    column-gap: 65px;
}

.first_screen__left {
    padding-top: 100px;
    max-width: 490px;
    
}

.first_screen__left h1 {
    font-size: 77px;
    font-weight: bold;
    margin-bottom: 27px;
    line-height: 83px;
}

.first_screen__left p, 
.secondary_screen__right p, 
.bottom_screen__hub_block p{
    font-size: 20px;
    line-height: 31px;
}

.first_screen__grid {
    column-gap: 60px;
}

.first_screen__button h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.first_screen__button {
    width: 220px;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: -33px;
    left: 141px;
}

.first_screen__button button {
    font-size: 22px;
    margin-top: 27px;
    height: 61px;
    width: 159px;
    border-radius: 100px;
    color: #fff;
    background-color: #000;
}

.button__mobile {
    display: none;
    height: 60px;
    width: 60px;
    border: 1px solid #ccc;
}
/* /first_screen */


/* secondary_screen */
.secondary_screen__wrap {
    column-gap: 104px;
    margin-bottom: 259px;
}

.secondary_screen__right {
    max-width: 564px;
}

.secondary_screen__right h2 {
    margin-bottom: 33px;
}

/* .secondary_screen__right p {
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
} */


.secondary_screen__bottom h2 {
    margin-bottom: 82px;
}

.secondary_screen__bottom_wrap {
    column-gap: 54px;
}

.secondary_screen__benefits_block {
    width: 309px;
}

.secondary_screen__benefits_block h3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    margin: 24px 0 10px 0;
}

.secondary_screen__benefits_block p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.secondary_screen__bottom {
    padding-bottom: 126px;
}

.secondary_screen__button_pink,
.bottom_screen__button_pink {
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: 100px;
    background-color: #F7B2B7;
    border: none;
    transition: background-color 500ms;
    margin-top: 53px;
}

.secondary_screen__button_pink:hover,
.bottom_screen__button_pink:hover {
    background-color: rgb(236, 128, 135);
}

/* //secondary_screen */

/* rocket_screen */
.rocket_screen {
    padding: 88px 0 72px 0;
    background-color: #FDECED;
}

.rocket_screen__wrap h2 {
    font-weight: 400;
    margin-bottom: 82px;
}

.rocket_screen__rockets {
    column-gap: 54px;
}

.rocket_screen__rocket_block {
    width: 308px;
}

.rocket_screen__rocket_block h3 {
    padding: 24px 0 10px 0;
    font-weight: 700;
    font-size: 27px;
    /* line-height: 36px; */
}

.rocket_screen__rocket_block p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
/* //rocket_screen */


/* bottom_screen */
.bottom_screen {
    padding: 108px 0;
}

.bottom_screen__clients_wrap {
    column-gap: 99px;
}

.bottom_screen__clients_wrap h3 {
    margin-top: 11px;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    width: 236px;
}

.bottom_screen__clients_row {
    column-gap: 33px;
    margin-bottom: 36px;
}

.bottom_screen__clients_row img {
    cursor: pointer;
    transition: transform 300ms;
}

.bottom_screen__clients_row img:hover {
    transform: scale(1.2);
}

.bottom_screen__hub_wrap {
    margin-top: 90px;
    column-gap: 103px;
}

.bottom_screen__hub_block {
    margin-top: 83px;
    width: 563px;
}

.bottom_screen__hub_block h2 {
    margin-bottom: 40px;
}

.bottom_screen__button_pink {
    margin-top: 79px;
}

.bottom_screen__form {
    padding: 90px 89px;
    width: 1150px;
    margin: 185px 0 108px 0;;
    background-color: #8BD4D6;
    border-radius: 10px;
    column-gap: 196px;
}

.bottom_screen__form_text h2 {
    margin-bottom: 18px;
    font-size: 46px;
}

.bottom_screen__form_text p {
    font-size: 20px;
}

.bottom_screen__form_button {
    padding: 12px 30px;
}
/* /bottom_screen */


/* footer */
.footer {
    padding: 45px 0;
    background-color: #302E3F;
}

.footer__logo_block {
    column-gap: 18px;
    flex-wrap: wrap;
}

.footer-wrap a {
    text-decoration: none;
    display: block;
    margin-bottom: 50px;
}

.footer__logo_block img {
    margin-right: 18px;
}

.footer__logo_block h3{
    font-size: 28px;
    color: #fff;
    margin-right: 18px;
}

.footer_lists_block {
    margin-bottom: 72px;
}

.footer_lists_item {
    width: 205px;
}

.footer_lists_item h5 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 13px;
}

.footer_lists_item ul {
    list-style-type: none;
}
.footer_lists_item ul li {
    margin-bottom: 8px;
}

.footer_lists_item a {
    display: inline;
    text-decoration: none;
    color: #C5E9EA;
    font-size: 16px;
    line-height: 16px;
}



.footer__bottom_wrap {
    justify-content: space-between;
    align-items: flex-end;
}

.footer__bottom_left {
    column-gap: 27px;
}

.footer_bottom_left__item a {
    font-size: 16px;
    color: #C5E9EA;
    font-weight: normal;
}







